@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@theme inline {
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

.dark {
  --border: oklch(1 0 0 / 10%);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}